body {
    background-image: url("../images/art-background.jpg");

}

#header {
    background-color: #F1E6B2;
    opacity: 0.6;
    border-radius: 5px;
    height: 90px;
    margin-top: 1px;
}

#title {
    color: #51284F;
    font-size: 70px;
    text-align: center;
    font-family: 'Barriecito', cursive; 
}

.btn {
    margin:3px;
    background-color: #51284F;
    opacity: 0.7;
    color: white;
}

#searchArea {
    background-color: #F1E6B2;
    font-size: 14px;
}

#whoAreYou {
    color: #51284F;
    margin: 0px;
    font-size: 18px;
    font-weight: bold;
}
